@charset "UTF-8";

html, body { 
	width: 100%; 
	height: 100%; 
	background: #F6F6F6;
	font-size: 15px;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 65px;
    background-color: #FAFAFA;
}

.navbar-brand {
	color: #000000;
	font-weight: bold;
}

.dropdown-toggle {
	color: #424242;
}

main {
    flex: auto;
    background: #F6F6F6;
    margin-top: 75px;

}

.title {
	background: #F6F6F6;
	font-weight: bold;
}

footer {
    height: 25px;
}

