@charset "UTF-8";

html, body { 
	background: #F6F6F6;
	font-size: 15px;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 65px;
    background-color: #FAFAFA;
}

.navbar-brand {
	color: #000000;
	font-weight: bold;
}

.dropdown-toggle {
	color: #424242;
}

main {
    flex: auto;
    background: #F6F6F6;
    margin-top: 75px;

}

.title {
	background: #F6F6F6;
	font-weight: bold;
}

footer {
    height: 25px;
}

.mb-200 {
	margin-bottom: 200px;
}

.mt-200 {
	margin-top: 200px;
}

.mt-25 {
	margin-top: 25px;
}

.mb-25 {
	margin-bottom: 25px;
}

select {
	width: 180px;
	height: 23px;
}

.line {
    border-right: 1px solid #cecece;
}