@charset "UTF-8";

h1 {
    text-align: center;
    font-size:95px;
    font-family:"Impact";
    text-transform:uppercase;
    display: block;
}
p {
    text-align:center;
    font-size:12px;
    font-family:"dotum";
}