<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="skhu.mapper.ActionMapper">
	<select id="findActionRecently" resultMap="mainResultMap">
		select a.id, a.date, a.name,
			s.id studentId, s.studentNumber, s.name studentName, 
			d.id departmentId, d.name departmentName,
			p.id adminId, p.name adminName
		from action a
		left join student s on a.studentId = s.id
		left join department d on s.departmentId = d.id
		left join admin p on a.adminId = p.id
		order by date desc
		limit #{start}, #{end}
	</select>
	<select id="count" resultType="int">
		select count(*) from action
	</select>
	<resultMap id="mainResultMap" type="Action">
		<id property="id" column="id" />
		<result property="date" column="date" />
		<result property="name" column="name" />
		<result property="studentId" column="studentId" />
		<result property="adminId" column="adminId" />
		<association property="student" javaType="Student">
			<id property="id" column="studentId" />
			<result property="studentNumber" column="studentNumber" />
			<result property="name" column="studentName" />
			<result property="departmentId" column="departmentId" />
			<association property="department" javaType="Department">
				<id property="id" column="departmentId" />
				<result property="name" column="departmentName" />
			</association>
		</association>
		<association property="admin" javaType="Admin">
			<id property="id" column="adminId" />
			<result property="name" column="adminName" />
		</association>
	</resultMap>
	
	<select id="findByActionId" resultMap="counselingResultMap">
		select a.*, s.id studentId, s.studentNumber, s.name studentName, s.departmentId, d.id departmentId, d.name departmentName
		, ad.id adminId, ad.name adminName, ad.authority 
		from action a
		left join student s on s.id = a.studentId
		left join department d on d.id = s.departmentId
		left join admin ad on ad.id = a.adminId
		where a.id = #{id}
	</select>
	<select id="findById" resultMap="counselingResultMap">
		select a.*, s.id studentId, s.studentNumber, s.name studentName, s.departmentId, d.id departmentId, d.name departmentName
		, ad.id adminId, ad.name adminName, ad.authority 
		from action a
		left join student s on s.id = a.studentId
		left join department d on d.id = s.departmentId
		left join admin ad on ad.id = a.adminId
		where a.studentId = #{id}
	</select>
	<resultMap id="counselingResultMap" type="Action">
		<id property="id" column="id" />
		<result property="date" column="date" />
		<result property="name" column="name" />
		<result property="studentId" column="studentId" />
		<result property="adminId" column="adminId" />
		<association property="student" javaType="Student">
			<id property="id" column="studentId" />
			<result property="studentNumber" column="studentNumber" />
			<result property="name" column="studentName" />
			<result property="departmentId" column="departmentId" />
			<association property="department" javaType="Department">
				<id property="id" column="departmentId" />
				<result property="name" column="departmentName" />
			</association>
		</association>
		<association property="admin" javaType="Admin">
			<id property="id" column="adminId" />
			<result property="name" column="adminName" />
			<result property="loginId" column="loginId" />
			<result property="authority" column="authority" />
		</association>
	</resultMap>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into action(studentId, name, content, date, adminId)
		values(#{studentId}, #{name}, #{content}, #{date}, #{adminId});
	</insert>
	
	<delete id="delete">
		DELETE FROM action WHERE id = #{id}
	</delete>
</mapper>