<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="skhu.mapper.AdminMapper">
	<select id="findAll" resultType="Admin">
		select * from testdb.admin
	</select>
	<select id="login" resultType="Admin">
		select id, loginId, name, departmentId, authority, email from admin where loginId = #{loginId} and password = #{password};
	</select>
	<select id="findById" resultType="Admin">
		select * from admin where id = #{id}
	</select>
	<update id="update">
		update admin
		<set>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="departmentId != 0 and departmentId != null">
				departmentId = #{departmentId},
			</if>
			<if test="email != null">
				email = #{email},
			</if>
		</set>
		where
			id = #{id}
	</update>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into admin(loginId, password, name, departmentId, email, authority)
		values(#{loginId}, #{password}, #{name}, #{departmentId}, #{email}, #{authority});
	</insert>
	
	<delete id="delete">
		DELETE FROM book WHERE id = #{id}
	</delete>
	
	<select id="findAllWithDepartment" resultMap="resultMap1"> 
		select a.loginId, a.name, d.name, a.authority
		from admin a
		left join department d on d.id = a.departmentId;
	</select>
	<resultMap id="resultMap1" type="Admin">
		<id property="id" column="id" />
		<result property="loginId" column="loginId" />
		<result property="password" column="password" />
		<result property="name" column="name" />
		<result property="email" column="email" />
		<result property="authority" column="authority" />
		<association property="departmentId" javaType="Department">
			<id property="id" column="departmentId" />
			<result property="name" column="name" />
		</association>
	</resultMap>
	
</mapper>