<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="skhu.mapper.AdminMapper">
	<select id="findAll" resultType="Admin">
		select * from testdb.admin
	</select>
	<select id="login" resultType="Admin">
		select id, loginId, name, departmentId, authority, email from admin where loginId = #{loginId} and password = #{password};
	</select>
	<select id="findById" resultType="Admin">
		select * from admin where id = #{id}
	</select>
	<update id="update">
		update admin
		<set>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="departmentId != 0 and departmentId != null">
				departmentId = #{departmentId},
			</if>
			<if test="email != null">
				email = #{email},
			</if>
		</set>
		where
			id = #{id}
	</update>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into admin(loginId, password, name, departmentId, email, authority)
		values(#{loginId}, #{password}, #{name}, #{departmentId}, #{email}, #{authority});
	</insert>
	
	<delete id="delete">
		DELETE FROM admin WHERE id = #{id}
	</delete>
	
	<select id="findAllWithDepartment" resultMap="adminListResultMap"> 
		select a.*, d.id departmentId, d.name departmentName, d.collegeId 
		from admin a
		left join department d on a.departmentId = d.id
		<where>
			<if test="condition.departmentId != 0 and condition.departmentId != null">
				and d.id = #{condition.departmentId}
			</if>
			<if test='searchType == "0" and searchText != null and searchText != ""'>
				and a.loginId = #{searchText}
			</if>
			<if test='searchType == "1" and searchText != null and searchText != ""'>
				and a.name = #{searchText}
			</if>
		</where>
	</select>
	<resultMap id="adminListResultMap" type="Admin">
		<id property="id" column="id" />
		<result property="loginId" column="loginId" />
		<result property="password" column="password" />
		<result property="name" column="name" />
		<result property="email" column="email" />
		<result property="authority" column="authority" />
		<association property="department" javaType="Department">
			<id property="id" column="departmentId" />
			<result property="name" column="departmentName" />
		</association>
	</resultMap>
	
</mapper>