<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="skhu.mapper.CompleteScoreMapper">
	<select id="findAll" resultType="CompleteScore">
		select * from complete_score
		order by year asc;
	</select>
	<insert id="insert">
		insert into complete_score(year, grade, score) values(#{year}, #{grade}, #{score});
	</insert>
	<delete id="delete">
		start transaction;
		set sql_safe_updates = 0;
		delete from complete_score;
		set sql_safe_updates = 1;
		alter table complete_score auto_increment = 1;
		commit;
	</delete>
</mapper>