<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="skhu.mapper.ScoreMapper">
	<select id="findByStudentId" resultMap="graduationDetailScoreResultMap">
		select sc.*, 
		sj.id subjectId, sj.code subjectCode, sj.name subjectName, sj.score subjectScore, sj.division subjectDivision,
		sd.id detailId, sd.title, sd.subtitle
		from score sc
		left join subject sj on sc.subjectId = sj.id
		left join subject_detail sd on sj.detailId = sd.id
		where sc.studentId = #{ studentId };
	</select>
	<resultMap id="graduationDetailScoreResultMap" type="Score">
		<id property="id" column="id" />
		<result property="score" column="score" />
		<result property="majorAdmit" column="majorAdmit" />
		<result property="substitutionCode" column="substitutionCode" />
		<result property="subjectId" column="subjectId" />
		<association property="subject" javaType="Subject">
			<id property="id" column="subjectId" />
			<result property="code" column="subjectCode" />
			<result property="name" column="subjectName" />
			<result property="score" column="subjectScore" />
			<result property="division" column="subjectDivision" />
			<association property="subjectDetail" javaType="SubjectDetail">
				<id property="id" column="detailId" />
				<result property="title" column="title" />
				<result property="subtitle" column="subtitle" />
			</association>
		</association>
	</resultMap>
	<select id="findBySubstitutionCode" resultMap="changeRequestScoreResultMap">
		select sc.*, sj.id subjectId, sj.code subjectCode, sj.name subjectName, sj.score subjectScore, sj.division subjectDivision
		from score sc
		left join subject sj on sc.subjectId = sj.id
		where sc.studentId = #{ studentId } and sc.substitutionCode != #{ substitutionCode };   
	</select>
	<select id="findByMajorAdmit" resultMap="changeRequestScoreResultMap">
		select sc.*, sj.id subjectId, sj.code subjectCode, sj.name subjectName, sj.score subjectScore, sj.division subjectDivision
		from score sc
		left join subject sj on sc.subjectId = sj.id
		where sc.studentId = #{ studentId } and sc.majorAdmit = #{ majorAdmit };   
	</select>
	<resultMap id="changeRequestScoreResultMap" type="Score">
		<id property="id" column="id" />
		<result property="score" column="score" />
		<result property="majorAdmit" column="majorAdmit" />
		<result property="substitutionCode" column="substitutionCode" />
		<result property="subjectId" column="subjectId" />
		<association property="subject" javaType="Subject">
			<id property="id" column="subjectId" />
			<result property="code" column="subjectCode" />
			<result property="name" column="subjectName" />
			<result property="score" column="subjectScore" />
			<result property="division" column="subjectDivision" />
		</association>
	</resultMap>
	<update id="cancelChangeRequest">
		update score
		set substitutionCode = #{ substitutionCode }
		where id = #{ id };
	</update>
	<update id="cancelMajorRequest">
		update score
		set majorAdmit = #{ majorAdmit }
		where id = #{ id };
	</update>
</mapper>