<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="skhu.mapper.ScoreMapper">
	<select id="findByStudentId" resultMap="graduationDetailScoreResultMap">
		select sc.*, 
		sj.id subjectId, sj.code subjectCode, sj.year subjectYear, sj.semester subjectSemester, sj.name subjectName, sj.score subjectScore, sj.division subjectDivision,
		sd.id detailId, sd.title, sd.subtitle,
		a.id adminId, a.name adminName
		from score sc
		left join subject sj on sc.subjectId = sj.id
		left join subject_detail sd on sj.detailId = sd.id
		left join admin a on a.id = sj.professorId
		<where>
			<if test="condition.semester != 0 and condition.semester != null">
				and sj.semester = #{condition.semester}
			</if>
		</where>
		where sc.studentId = #{ studentId }
		order by year, semester
	</select>
	<resultMap id="graduationDetailScoreResultMap" type="Score">
		<id property="id" column="id" />
		<result property="score" column="score" />
		<result property="majorAdmit" column="majorAdmit" />
		<result property="substitutionCode" column="substitutionCode" />
		<result property="subjectId" column="subjectId" />
		<association property="subject" javaType="Subject">
			<id property="id" column="subjectId" />
			<result property="code" column="subjectCode" />
			<result property="name" column="subjectName" />
			<result property="score" column="subjectScore" />
			<result property="division" column="subjectDivision" />
			<result property="semester" column="subjectSemester" />
			<result property="year" column="subjectYear" />
			<association property="subjectDetail" javaType="SubjectDetail">
				<id property="id" column="detailId" />
				<result property="title" column="title" />
				<result property="subtitle" column="subtitle" />
			</association>
			<association property="admin" javaType="Admin">
				<id property="id" column="adminId" />
				<result property="name" column="adminName" />
			</association>
		</association>
	</resultMap>
	<select id="findBySubstitutionCode" resultMap="changeRequestScoreResultMap">
		select sc.*, sj.id subjectId, sj.code subjectCode, sj.name subjectName, sj.score subjectScore, sj.division subjectDivision
		from score sc
		left join subject sj on sc.subjectId = sj.id
		where sc.studentId = #{ studentId } and sc.substitutionCode != #{ substitutionCode };   
	</select>
	<select id="findByMajorAdmit" resultMap="changeRequestScoreResultMap">
		select sc.*, sj.id subjectId, sj.code subjectCode, sj.name subjectName, sj.score subjectScore, sj.division subjectDivision
		from score sc
		left join subject sj on sc.subjectId = sj.id
		where sc.studentId = #{ studentId } and sc.majorAdmit = #{ majorAdmit };   
	</select>
	<select id="findByEstablish" resultMap="changeRequestScoreResultMap" >
		select sc.* from score sc
		left join subject sj on sc.subjectId = sj.id
		where 
			sc.majorAdmit = 0 and
		    sj.division = '전공선택' and
		    sj.departmentId != #{ departmentId } and
		    sj.establish like #{ establish };
	</select>
	<resultMap id="changeRequestScoreResultMap" type="Score">
		<id property="id" column="id" />
		<result property="score" column="score" />
		<result property="majorAdmit" column="majorAdmit" />
		<result property="substitutionCode" column="substitutionCode" />
		<result property="subjectId" column="subjectId" />
		<association property="subject" javaType="Subject">
			<id property="id" column="subjectId" />
			<result property="code" column="subjectCode" />
			<result property="name" column="subjectName" />
			<result property="score" column="subjectScore" />
			<result property="division" column="subjectDivision" />
		</association>
	</resultMap>
	<select id="findWithSubstitution" resultMap="substitutionResultMap">
		select sc.*, 
		sj.id subjectId, sj.code subjectCode, sj.name subjectName, sj.score subjectScore, sj.division subjectDivision,
		sd.id detailId, sd.title, sd.subtitle,
		sb.id substitutionId, sb.substitutionCode subCode
		from score sc
		left join subject sj on sc.subjectId = sj.id
		left join substitution sb on sj.code = sb.subjectCode
		left join subject_detail sd on sj.detailId = sd.id
		where abolish = 1 and studentId = #{ id };
	</select>
	<resultMap id="substitutionResultMap" type="Score">
		<id property="id" column="id" />
		<result property="score" column="score" />
		<result property="majorAdmit" column="majorAdmit" />
		<result property="substitutionCode" column="substitutionCode" />
		<result property="subjectId" column="subjectId" />
		<association property="subject" javaType="Subject">
			<id property="id" column="subjectId" />
			<result property="code" column="subjectCode" />
			<result property="name" column="subjectName" />
			<result property="score" column="subjectScore" />
			<result property="division" column="subjectDivision" />
			<association property="subjectDetail" javaType="SubjectDetail">
				<id property="id" column="detailId" />
				<result property="title" column="title" />
				<result property="subtitle" column="subtitle" />
			</association>
		</association>
		<association property="substitution" javaType="Substitution">
			<id property="id" column="substitutionId" />
			<result property="substitutionCode" column="subCode" />
		</association>
	</resultMap>
	<update id="update">
	update score
	<set>
		<if test="score != null and score != 0.0">
			score = #{ score },
		</if>
		<if test="majorAdmit != null">
			majorAdmit = #{ majorAdmit },
		</if>
		<if test='substitutionCode != null and substitutionCode != ""'>
			substitutionCode = #{ substitutionCode }
		</if>
	</set> 
	where id = #{ id };
	</update>
	<insert id="insert">
		insert into score(studentId, subjectId, score, majorAdmit, substitutionCode)
		values(#{ studentId }, #{ subjectId }, #{ score }, #{ majorAdmit }, #{ substitutionCode }); #새로운 성적이라면 insert
	</insert>
</mapper>